*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #555;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Omnifood Contents/hero.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

ul{

}

img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 20;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul li{
    display: inline;
}

header h1{
    color: white;
}

#btn1{
    background-color: #e67e22;
    color: white;
}

#btn2{
    background: transparent;
    border: 2px solid #e67e22;
    color: #e67e22;
    padding: 10px 20px;
    border-radius: 30px;

}